# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Scrapy_Prj.settings

[deploy]
#url = http://localhost:6800/
project = Scrapy_Prj


[oss_cfg]
OSS_USER = 
OSS_PASSWORD = 
FILES_STORE = 


[proxy_no.1_cfg]
# Self-built domestic tunnels
PROXY_USER= 
PROXY_PASS= 
PROXY_SERVER= 
WEIGHTS= 

[proxy_no.1.1_cfg]
# Self-built domestic south tunnels
PROXY_USER= 
PROXY_PASS= 
PROXY_SERVER= 
WEIGHTS= 

[proxy_no.1.2_cfg]
# Self-built domestic east tunnels
PROXY_USER= 
PROXY_PASS= 
PROXY_SERVER= 
WEIGHTS= 

[proxy_no.2_cfg]
# Self-built foreign tunnels
PROXY_USER= 
PROXY_PASS= 
PROXY_SERVER= 
WEIGHTS= 

[proxy_no.3_cfg]
PROXY_USER= 
PROXY_PASS= 
PROXY_SERVER= 
WEIGHTS= 

[proxy_no.4_cfg]
PROXY_USER= 
PROXY_PASS= 
PROXY_SERVER= 
WEIGHTS= 

[proxy_no.5_cfg]
PROXY_USER= 
PROXY_PASS= 
PROXY_SERVER= 
WEIGHTS= 

[proxy_no.6_cfg]
PROXY_USER= 
PROXY_PASS= 
PROXY_SERVER=
WEIGHTS= 

[mysql_cfg_prod_news]
# Ali Cloud server cannot be accessed, news' crawler use
MYSQL_HOST = 
MYSQL_DATABASE = 
MYSQL_PORT = 
MYSQL_USER = 
MYSQL_PASSWORD = 

[mysql_cfg_prod]
# The prod env outside address and config
MYSQL_HOST = 
MYSQL_DATABASE = 
MYSQL_PORT = 
MYSQL_USER = 
MYSQL_PASSWORD = 

[mysql_cfg_dev]
# The test env outside address and config
MYSQL_HOST = 
MYSQL_DATABASE = 
MYSQL_PORT = 
MYSQL_USER = 
MYSQL_PASSWORD = 

[mongo_cfg_prod]
# The prod env outside address and config
MONGO_HOST = 
MONGO_PORT = 
MONGO_DB = 
MONGO_USER = 
MONGO_PSW = 
AUTH_SOURCE = 

[mongo_cfg_dev]
MONGO_HOST = 
MONGO_PORT = 
MONGO_DB = 
MONGO_USER = 
MONGO_PSW = 
AUTH_SOURCE = 

[mq_cfg_prod]
RABBITMQ_CONNECTION_PARAMETERS = 
RABBITMQ_ITEMS_KEY = 

[mq_cfg_dev]
RABBITMQ_CONNECTION_PARAMETERS = 
RABBITMQ_ITEMS_KEY = 

[oracle_cfg_prod] 
ORACLE_HOST = 
ORACLE_USER = 
ORACLE_PASSWORD = 
ORACLE_PORT = 
ORACLE_SERVICE = 

[oracle_cfg_dev]
ORACLE_HOST =
ORACLE_USER =
ORACLE_PASSWORD =
ORACLE_PORT =
ORACLE_SERVICE = 

[influxdb_cfg_prod]
HOST = 
PORT = 
USERNAME = 
PASSWORD = 
DATABASE = 

[influxdb_cfg_dev]
HOST = 
PORT = 
USERNAME = 
PASSWORD = 
DATABASE = 

[redis_cfg_prod]
# The prod env address and config
REDIS_HOST = 
REDIS_DB = 
REDIS_PORT = 
REDIS_PASSWORD = 

[redis_cfg_dev]
# The test env outside address and config
REDIS_HOST =  
REDIS_DB =  
REDIS_PORT = 
REDIS_PASSWORD = 