[package]
name = "u_interface"
description = "Crate to allow easy requests to uHunt's API"
version = "1.0.1"
edition = "2021"
license = "Apache-2.0"
documentation = "https://lovethefrogs.github.io/uInterface/u_interface/index.html"
repository = "https://github.com/LovetheFrogs/uInterface"
exclude = [
    ".github/*",
    "gui/*",
    ".gitattributes",
    ".gitignore",
    "create-docu.sh",
    "pyproject.toml",
    "requirements.txt",
    "run_linux.sh",
    "setup.py",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "u_interface"
crate-type = ["cdylib"]

[dependencies]
cpython = "0.7.1"
reqwest = { version = "0.11", features = ["json"] }
tokio = { version = "1", features = ["full"] }
serde = "1.0.119"
serde_json = "1.0.61"
serde_derive = "1.0.119"
exitfailure = "0.5.1"
structopt = "0.3.21"
actix-rt = "2.8.0"