[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "teg_get_best_n"
version = "0.0.3"
authors = [
  { name="Thomas E. Gladwin", email="thomasgladwin@hotmail.com" },
]
description = "Estimate the optimal number of components in PCA-based dimension reduction."
readme = "README.md"
requires-python = ">=3.6"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
dependencies = [
    "numpy"
]

[project.urls]
"Homepage" = "https://tegladwin.com"
"Bug Tracker" = "https://github.com/thomasgladwin/teg_get_best_n"
